<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Max Rebo Band Fan Site</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header></header>

  <h1>The Max Rebo Band Fan Site | About</h1>
  <nav>
    <a href="/">Home Page</a>
    <a href="/about">About</a>
    <a href="/discography">Discography</a>
    <a href="/tourdates">Tour Dates</a>
  </nav>
  <section>
    <div id="container">
    <h2>Summary</h2>
    <p>The Max Rebo Band, originally Evar Orbus and His Galactic Jizz-Wailers, is among the most well known bands of the galaxy. Their fame is due in part to their status as the in-house performers for Jabba the Hut. The original lineup consisted of the blue-skinned Ortolan keyboardist <a href="http://starwars.wikia.com/wiki/Max_Rebo">Max Rebo</a>, a plump Kitonak woodwind player named <a href="http://starwars.wikia.com/wiki/Droopy_McCool">Droopy McCool</a>, and the spindly-legged Pa'lowick lead singer <a href="http://starwars.wikia.com/wiki/Sy_Snootles">Sy Snootles</a>.</p>
    <h2>Early History</h2>
    <p>Formed on the initiative of the Letaki would-be impresario Evar Orbus, the band originally consisted of the Ortolan Siiruulian Phantele (stage name Max Rebo), the Pa'lowick Sy Snootles and the Kitonak Droopy McCool. Performing as Evar Orbus and His Galactic Jizz-Wailers, Snootles and Orbus would dazzle audiences with their impressive vocal talents as Rebo and McCool accompanied them on their instruments: the Red ball organ and a chidinkalu flute.</p>
    <p>Touring small venues and cantinas in the Outer Rim, the Orbus-led group soon built up a following. The band was responsible for many hits, including "Jedi Rocks", "Lapti Nek" and "(That Joyous Night) I Ate My Mate". Thanks to his shady contacts, however, Orbus was the only one to earn a profit. In 15 BBY, the band played at Doodnik's Café on the planet Tyne's Horky.</p>
    <p>Around 1 BBY, the band was playing at the Blue Moon, a cantina and strip club in the rundown city of Trid. Located on the backwater world of Danuta, the Blue Moon would frequently see Imperial officers from the Imperial research facility as denizens in their off hours.</p>
    <p>When invited to play at the Mos Eisley Cantina by the Wookiee Chalmun, the band leaped at the opportunity to gain greater fame. Unfortunately, Figrin D'an, leader of the Modal Nodes, took offense to the fact that Chalmun would hire a second band, and attempted to kill them. Orbus was the only one to perish in the ensuing melee, and the surviving members allowed the Bith to keep the job.</p>
    <h2>Changing their Tune</h2>
    <p>Desperate for a new gig, the band needed to take a new direction. Snootles, knowing that Rebo could be easily manipulated, allowed him to become the new leader of the band. She did this in order to ensure that Rebo would provide a public target for any further assassination attempts while she managed the band from behind the scenes. Sy Snootles' first act was to bring in backup dancers Greeata Jendowanian, Rystáll Sant and Lyn Me, in addition to fellow musicians Rapotwanalantonee Tivtotolon (stage name Rappertunie) and Barquin D'an, whose relationship to Figrin was irrelevant to the band.</p>
    <p>Rebo, McCool and Snootles met with Naroon Cuthus, who allowed the band to audition for Jabba Desilijic Tiure. Jabba was so impressed by their performance that he offered them a lifetime contract, with payment in the form of all the food the band could eat. Rebo immediately accepted the offer before the others could stop him. Snootles would later comment on how foolish she had been in letting Rebo act as the public face of the band, as it had led them to virtual eternal servitude.</p>
    <p>Still, their lives were not as bad as they had once been. They were allowed to travel outside the palace and accept tips from the palace denizens. They were sent to Hoth to perform for Bingo Mehndra on the crime lord's Spawning Day. Unknown to the band, they were being sent to kill him. When McCool discovered thermite explosives hidden in the speakers, the band set up a holovid that played a previous performance for Mehndra while they made their escape. In gratitude, Jabba bought them new instruments and gave them three new band members: the Klatooinian Umpass-stay, the Weequay Ak-rev and the Rodian bard Doda Bodonawieedo.</p>
    <p>The band played at Jabba's Palace during Luke Skywalker's attempt to free Han Solo and later played at their execution over the Great Pit of Carkoon. The band barely escaped the catastrophe that followed, jumping to safety as the Sail Barge blew apart. Greeata and Lyn Me then drove away a band of Tusken Raiders, stealing their banthas to ride to civilization.</p>
    <h2>Fallout</h2>
    <p>With their release from Jabba's contract, the band split apart. Rebo would eventually join the Rebel Alliance, playing for the troops and enjoying their food (which he claimed was his reason for joining in the first place). He would later relocate to Coruscant when the New Republic recaptured it. Rebo also started a resturant chain called Max's Flanth House. Yowza joined The Palpatones, exchanging his singing talent for transportation across the galaxy. Greeata and Rystáll would also join the band, Greeata gaining fame with the hit "Kick the Ranat" and Rystáll leaving the band after meeting fellow Theelin Shug Ninx. D'an built up a thriving import business on Stenos, while Rappertunie joined Rebaxan Columni, designing upgrades for the MSE-6 droid. Bodonawieedo would steal several sculptures from Jabba's Mos Eisley townhouse, selling them off and earning himself a fortune in credits, and Umpass-stay would become employed by Jocoro Desilijic Tiure. Lyn Me searched for her idol Boba Fett after it was uncovered that Fett survived the Sarlacc.</p>
    <p>The others were not as successful. Snootles would become a spice addict, never able to reclaim her past fame. McCool wandered off into the desert wastes of Tatooine and was never heard from again. Ak-Rev was killed by a pack of Tusken Raiders who had taken offense at his fellow Weequay's habit of killing their banthas as sacrifices to the Weequay god Quay.</p>
    </div>
  </section>
  <footer>
    <small>(c) 2014 Max Rebo Band Fan Site</small>
  </footer>
</body>
</html>
