<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Max Rebo Band Fan Site</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header></header>
  <h1>The Max Rebo Band Fan Site | Discography</h1>
  <nav>
    <a href="/">Home Page</a>
    <a href="/about">About</a>
    <a href="/discography">Discography</a>
    <a href="/tourdates">Tour Dates</a>
  </nav>
  <section>
    <div id="container">
    <h2>The Max Rebo Band Album</h2>
    <img src="/images/MaxReboBand-poster">
    <ul>
      <li>Lapti Nek</li>
      <li>Jedi Rocks</li>
      <li>Galactic Dance Blast</li>
      <li>Galgamok</li>
      <li>(That Joyous Night) I Ate My Mate</li>
      <li>Ode to a Master Chef</li>
      <li>Ode to a Radioactive Ruin</li>
      <li>My Hearts Belong to You</li>
      <li>Kick the Ranat</li>
    </ul>
    </div>
  </section>
  <footer>
    <small>(c)2014 Max Rebo Band Fan Site</small>
  </footer>
</body>
</html>
