<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Max Rebo Band Fan Site</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <nav>
    <a href="/">Home Page</a>
    <a href="/about">About</a>
    <a href="/discography">>Discography</a>
    <a href="/tourdates">Tour Dates</a>
  </nav>



  <footer>
    <small>(c)2014 Melanie L. Fryman | NSS Cohort 6</small>
  </footer>
</body>
</html>
