<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Max Rebo Band Fan Site</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header></header>
  <h1>The Max Rebo Band Fan Site</h1>
  <nav>
    <a href="/">Home Page</a>
    <a href="/about">About</a>
    <a href="/discography">Discography</a>
    <a href="/tourdates">Tour Dates</a>
  </nav>
  <section>
    <div id="container">
       <div class="date">Whenever it pleases Jabba the Hut | 3 - 4 AY</div>
       <div class="location">Jabba's Palace, Western Dune Sea, Tattoine</div>
    </div>
  </section>
  <footer>
    <small>(c)2014 Max Rebo Band Fan Site</small>
  </footer>
</body>
</html>
